.container{
    width:100%
}
.form_anadir_servicio{
    width:90%;
    margin:auto;
    background-color: #EAE8E8;
    border-radius: 5%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
}
.input_form{
    padding:2%;
    margin-left:2.5%;
    margin-bottom: 1%;
    
}

.spacer{
    text-align: center;
    color: #3F51B5;
    flex: 1 1 auto;
}