.container{
    width:100%;
    margin-bottom: 5%;
}
.contenedor_tabla{
    width: 90%;
    margin:auto;
    margin-top:0%;
}
.row_buttons{
    width:100%;
    padding-top: 1%;
}
.filtro{
    margin-left:4%;
    margin-top:0%;
    padding-top:1%;
    width:30%;
    
}
mat-expansion-panel{
    width:90%;
    margin:auto;
    margin-bottom:0.5%;
}
.botones{
    width:95%;
    display:flex;
}
