.container{
    width:100%;
    margin-bottom: 5%;
}
.contenedor_tabla{
    width: 90%;
    margin:auto;
}
.spacer{
    text-align: center;
    color: #3F51B5;
    flex: 1 1 auto;
}
.row_buttons{
    width:100%;
    padding-top: 1%;
}