<div class="container">
  <mat-toolbar>
    <span class="spacer">{{data.titulo}}</span>
  </mat-toolbar>
  <div class="form_anadir">
    <form [formGroup]="form" (ngSubmit)="enviar()">
      <mat-grid-list cols="4" rowHeight="90px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field class="input_form" appearance="outline">
            <mat-label>Nombre</mat-label>
            
            <input
              matInput
              formControlName="nombre_servidor"
              type="text"
              required
              [(ngModel)]="data.nombre"
            />
            
            <mat-error *ngIf="form.get('nombre_servidor')?.errors">
              {{ MensajeError("nombre_servidor") }}
            </mat-error>
          </mat-form-field>
        
          <mat-form-field class="input_form" appearance="outline">
            <mat-label>IP Productiva</mat-label>
            <input matInput formControlName="ip_prod" type="text" required readonly [(ngModel)]="data.ip_prod"/>
            <mat-error *ngIf="form.get('ip_prod')?.errors">
              {{ MensajeError("ip_prod") }}
            </mat-error>
            <button type="button" mat-icon-button matSuffix (click)="abrirVentana('IP Productiva')"><mat-icon>add</mat-icon></button>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field class="input_form" appearance="outline">
            <mat-label>IP DRP</mat-label>
            <input matInput formControlName="ip_drp" type="text" required readonly [(ngModel)]="data.ip_drp"/>

            <mat-error *ngIf="form.get('ip_drp')?.errors">
              {{ MensajeError("ip_drp") }}
            </mat-error>
            <button type="button" mat-icon-button matSuffix (click)="abrirVentana('IP DRP')"><mat-icon>add</mat-icon></button>
          </mat-form-field>
        
          <mat-form-field class="input_form" appearance="outline">
            <mat-label>IP Desarrollo</mat-label>
            <input matInput formControlName="ip_des" type="text" required readonly [(ngModel)]="data.ip_des"/>
            <mat-error *ngIf="form.get('ip_des')?.errors">
              {{ MensajeError("ip_des") }}
            </mat-error>
            <button type="button" mat-icon-button matSuffix (click)="abrirVentana('IP Desarrollo')"><mat-icon>add</mat-icon></button>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field class="input_form" appearance="outline">
            <mat-label>IP Tester</mat-label>
            <input matInput formControlName="ip_test" type="text" required readonly [(ngModel)]="data.ip_test"/>
            <mat-error *ngIf="form.get('ip_test')?.errors">
              {{ MensajeError("ip_test") }}
            </mat-error>
            <button type="button" mat-icon-button matSuffix (click)="abrirVentana('IP Tester')"><mat-icon>add</mat-icon></button>
          </mat-form-field>
        
          <mat-form-field class="input_form" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo" required [(ngModel)]="data.tipo">
              <mat-option
                *ngFor="let servidor of tipo_serv"
                [value]="servidor.value"

              >
                {{ servidor.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('tipo')?.errors">
              {{ MensajeError("tipo") }}
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="2">
          <mat-form-field class="input_form" appearance="outline">
            <mat-label>Descripcion</mat-label>
            <textarea
              matInput
              rows="4"
              formControlName="descripcion"
              type="text"
              required
              [(ngModel)]="data.descripcion"
            ></textarea>
            <mat-error *ngIf="form.get('descripcion')?.errors">
              {{ MensajeError("descripcion") }}
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <button
            type="submit"
            class="width_input button_login"
            [disabled]="form.invalid"
            mat-raised-button
            color="primary"
          >
            Agregar
          </button>

          <button type="button" mat-stroked-button color="warn" (click)="resetForm(data.edicion)">
            Limpiar
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
</div>
